<ion-view view-title="Sample Flyer">
  <ion-content padding="true">
    <div class="list card">
      <div class="item item-header">
        <h1>Sample</h1>
      </div>
      <div class="item item-body">
        <object ng-attr-data="{{sampleFly}}"></object>
        <p>This is a Sample of business Flyer.</p>
      </div>
      <div class="button-bar">
        <button class="button" ng-click="sampleMsg(0)"><i class="button-icon ion-android-textsms"></i></button>
        <button class="button" ng-click="sampleMsg(1)"><i class="button-icon ion-android-contacts"></i></button>
        <button class="button" ng-click="sampleMsg(2)"><i class="button-icon ion-android-mail"></i></button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="passFoot" padding="true">
    <caption>&copy;2015 by EBC Electionic Business Card</caption>
  </ion-footer-bar>
</ion-view>
