<ion-view view-title="Samples">
   <ion-content padding="true">
      <ion-list class="list card ink">
         <ion-item class="item-thumbnail-right single"  ng-click="sample()">
            <img alt="Sample" ng-src="{{sampleCard.img}}" />
            <h3>Sample Card</h3>
            <div>This is a Sample of business card.</div>
         </ion-item>
      </ion-list>
      <ion-list class="list card ink">
         <ion-item class="item-thumbnail-right single"  ng-click="flyer()">
            <img alt="Sample" ng-src="{{sampleFly.img}}" />
            <h3>Sample Flyer</h3>
            <div>This is a Sample of business Flyer.</div>
         </ion-item>
      </ion-list>
   </ion-content>
   <ion-footer-bar class="passFoot" padding="true">
      <caption>&copy;2015 by EBC Electionic Business Card</caption>
   </ion-footer-bar>
</ion-view>
